[submodule "metaversestandards-glossary"]
	path = metaversestandards-glossary
	url = git@github.com:metaversestandards/metaversestandards-glossary.git
[submodule "breviter"]
	path = breviter
	url = git@github.com:geolexica/breviter.git
