source: _source

title: "Metaverse Standards Forum Multi-Lingual Glossary of Terms (MLGT)"

google_analytics:
  id: G-1DYNQPYFN5

committee:
  identifier: MSF
  name: Metaverse Standards Forum
  parent_org_name: MSF
  home: https://www.metaverse-standards.org/
  main_logo:
    path: /assets/logo-msf-noninverted.svg
    alt_text: MSF
  footer_logo:
    path: /assets/logo-msf-noninverted.svg
    alt_text: Metaverse Standards Forum
    url: https://www.metaverse-standards.org/

font_awesome_kit_url: https://kit.fontawesome.com/77a8a07e0a.js

has_brand_name: yes
always_show_committee_link_on_landing: yes

email: webservices@metaverse-standards.org

tagline: >-
  MLGT: The authoritative multi-lingual glossary of terms

description: >-
  The authoritative glossary for the Metaverse Standards Forum.

baseurl: ""
url: "https://glossary.metaverse-standards.org"

social:
  links:
    - url: https://twitter.com/Metaverse_Forum
    - url: https://github.com/MetaverseStandards

# algolia:
#   application_id: NOP
#   index_name: NOP
#   search_only_api_key: NOP

nav:
  items:
  - id: concepts
    url: /concepts
    title: Concepts
    description: List of all concepts
  - id: posts
    url: /posts
    title: News & Articles
  - id: registers
    url: /registers
    title: Registers
    description: Language registries of the Multi-Lingual Glossary of Terms
  - id: stats
    url: /stats
    title: Statistics
    description: Per-language term statistics
  - id: about
    url: /about
    title: About
  - id: feedback
    url: /feedback
    title: Feedback

footer_nav:
  - url: https://metaverse-standards.org/domain-groups/standards-register/
    title: Metaverse Standards Forum

powered_by:
  url: https://open.ribose.com
  title: Ribose
  logo_path: /assets/logo-ribose.svg

theme: jekyll-geolexica

sass:
  style: compressed

collections:
  pages:
    output: true
    permalink: /:path/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      show_header_meta: true

geolexica:
  concepts_glob: "../metaversestandards-glossary/msfglossary/concept/*.yaml"
  localized_concepts_path: "../metaversestandards-glossary/msfglossary/localized-concept"
  format: "paneron"
  math: true
  term_languages:
    - eng
    - ara
    - dan
    - deu
    - fin
    - fra
    - jpn
    - kor
    - msa
    - nld
    - pol
    - rus
    - spa
    - swe
    - zho
  formats:
    - html
    - json
    - json-ld
    - turtle
  search:
    refinements:
      - validity

tidy_json:
  enabled: true
  pretty: true

plugins:
  - jekyll-data
  - jekyll-feed
  - jekyll-geolexica
  - jekyll-sitemap
  - jekyll-tidy-json
  - jekyll-plugin-frontend-build

include:
  # Next.js build files
  - _next
  - _app
  - _error
  - _buildManifest
  - _ssgManifest

suggest_translation_url: "https://github.com/metaversestandards/glossary.metaverse-standards.org/issues/new?assignees=haudiobe&labels=translate&template=translate.md&title=Translate%3A+"
report_issue_url: "https://github.com/metaversestandards/glossary.metaverse-standards.org/issues/new?assignees=haudiobe&labels=report&template=report.md&title=Report%3A+"
